<div class="login-container">
    <mat-card class="login-card">
      <div class="login-header">
        <img src="assets/kzn-logo.png" alt="KZN Coat of Arms" class="logo" />
        <h1>HR Portal Login</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">Login</button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>  

      </form>
    </mat-card>
  </div>
  