<div class="container">
    
    <hr />
  
    <!-- Part 3 -->
    <div class="section">
      <h2>Part 3 - DEVELOPMENT, TRAINING, COACHING, GUIDANCE AND EXPOSURE NEEDED</h2>
      <P>(To be completed by Supervisor in consultation with Employee)</P>
      <textarea></textarea>
      
    </div>
  
    <!-- Part 4 -->
    <div class="section">

      <h2>Part 4</h2>
      <label>1. Supervisor's recommendation:</label>
      <textarea></textarea>

      <label>2. Employee's comments:</label>
      <textarea></textarea>

      <label>3. Comments of chairperson of moderating Committee:</label>
      <textarea></textarea>

      <label>4. Decision by Executing Authority of her/his delegate:</label>
      <textarea></textarea>
    </div>
  
    <!-- Buttons -->
    <button>Save</button>
    <button id="greenBtn">Save & Submit for Approval</button>
  </div>
  