/* Remove hardcoded width */
.dashboard-card {
  height: 290px; /* Keep fixed height */
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

/* Card Content */
mat-card-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;


  
}

/* Card Header */
.card-header {
  background-color: #007bff;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  
}

/* Header Icon */
.header-icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Card Items */
.card-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.item-icon {
  color: gray;
  margin-right: 8px;
}

/* Action Button */
.action-button {
  margin-top: auto;
  border-radius: 20px;
  background-color: rgb(8, 194, 8) !important;
  margin-bottom: 15px;
}

mat-icon{
  padding-left: 5px;
}

mat-card-actions{
  display:flex;
  align-items:center;
  justify-content:center;
}