<div class="top-navbar">
    <div class="logo">
        <img src="SITALOGO.jpg" alt="Logo" />
        <span>SITA APP</span>
      </div>

      <div class="menu-items">
        <a routerLink="/Dashboard">IAPPMS</a>
        <a routerLink="/Review">EPMDS</a>
        <a routerLink="/review">ESS</a>
      </div>

      <div class="user-actions">
        <button>
          <mat-icon>search</mat-icon>
        </button>
        <button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
</div>
