<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="sidebar-header">
      
      </div>
  
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink="/opportunities">
          <mat-icon>work</mat-icon>
          Opportunities
        </a>
       
      </mat-nav-list>
  
      <div class="divider"></div>
  
      <mat-nav-list>
        <a mat-list-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          Settings
        </a>
        <a mat-list-item routerLink="/logout">
          <mat-icon>logout</mat-icon>
          Log out
        </a>
      </mat-nav-list>
  
      <div class="user-profile">
        <img src="userimg.png" alt="User" style="width:30px; height:30px "/>
        <div class="user-info">
          <p class="user-name">Elise Beverley</p>
          <p class="user-role">Admin</p>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
  